<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header text-center">
          <h5 class="modal-title pt-3" id="staticBackdropLabel">
             
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      
         <form action="" id="formquiz"> 
         <ul class="list-group p-2">
            <li class="list-group-item list-group-item-primary mb-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="resp" id="resp1" value="">
                    <label class="form-check-label" for="flexRadioDefault1" id="resp1label">
                        
                      </label>
                </div>
            </li>
            <li class="list-group-item list-group-item-info mb-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="resp" id="resp2" value="">
                    <label class="form-check-label" for="flexRadioDefault1" id="resp2label">
                        
                      </label>
                </div>
            </li>
            <li class="list-group-item list-group-item-secondary mb-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="resp" id="resp3" value="">
                    <label class="form-check-label" for="flexRadioDefault1" id="resp3label">
                       
                      </label>
                </div>
            </li>
            <li class="list-group-item list-group-item-dark mb-2">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="resp" id="resp4" value="">
                    <label class="form-check-label" for="flexRadioDefault1" id="resp4label">
                        
                      </label>
                </div>
            </li>
         </ul>
         <div class="response text-center"></div>  
        </div>
        <div class="modal-footer">
          <button type="submit" id="send" class="btn btn-outline-success btn-sm"><i class="fas fa-check"></i> Confirmar</button>
          <a href="" id=closed class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal"><i class="fas fa-arrow-right"></i> Sair</a>
        </div>
      </form>

        </div>
      </div>
    </div>
  </div>
        </div>
    </div>
<div class="container-fluid" id="fluid">
   
        <div class="row"> 
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="container">
                <h1 style="margin: 0;padding: 0;margin-top:130px;font-family: 'Secular One', sans-serif;background: -webkit-linear-gradient(yellow,#000);-webkit-background-clip:text;-webkit-text-fill-color:transparent"><i class="far fa-lightbulb"></i> Quiz de conhecimento elétrico</h1>
                <h3 style="margin: 0;padding: 0;font-family: 'Varela Round', sans-serif;">Atualizado e com níveis de dificuldade</h3>
                <h5 style="margin: 0;padding: 0;font-family: 'Varela Round', sans-serif;">Jogue agora e aprenda divertindo-se !!!</h5>
                <p style="margin: 0;padding: 0;font-size: 16pt;font-family: 'Big Shoulders Stencil Display', cursive;">Aqui você aprende e ainda diverte-se muito com seus amigos ,tire suas principais dúvidas e estude para concorrer as melhores oportunidades.</p>
                <div class="d-grid gap-1 col-sm-12 col-md-7 col-lg-7">
                    <button style="font-family: 'Varela Round', sans-serif;background-color: yellow;" id="startgame" type="button" class="btn btn-md mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="far fa-play-circle"></i> Começar o Jogo</button>
                </div> 
                </div>
                <div class="d-flex justify-content-start">
                <div class="result text-center mr-3 col-sm-12 col-md-8 col-lg-8" style="bottom:58px;position: absolute;font-size: 10pt;"></div>
                </div>    
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="container">
                <div id="imglogin"></div>
                </div>
            </div>
    </div>
</div>